@{
    ViewData["Title"] = "Inicio - FastCredits";
}

<div class="container text-center">
    <h1 class="display-4" style="color: #2c3e50;">Bienvenido a FastCredits</h1>
    <p class="lead" style="color: #7f8c8d;">Tu camino hacia el auto de tus sueños comienza aquí</p>

    <div class="row mt-5">
        <div class="col-md-6">
            <img src="/img/auto.jpg" alt="Auto de ensueño" class="img-fluid" style="border-radius: 15px;">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <p style="font-size: 18px; line-height: 1.6; color: #2c3e50;">
                En FastCredits, nos especializamos en ofrecer opciones rápidas y accesibles para la financiación de tu próximo auto. Con un proceso de solicitud sencillo y transparente, estamos aquí para ayudarte a hacer realidad tu sueño de conducir el vehículo que siempre quisiste.
            </p>
        </div>
    </div>

   

    <section class="mt-5">
        <h2 style="color: #2c3e50;">¿Por qué elegir FastCredits?</h2>
        <p style="color: #7f8c8d;">Con FastCredits, obtén financiamiento en cuestión de minutos.</p>
        <ul style="list-style-type: none; padding: 0;">
            <li>✔️ Procesos rápidos y 100% en línea</li>
            <li>✔️ Tasas competitivas y personalizadas</li>
            <li>✔️ Sin trámites complejos</li>
            <li>✔️ Atención personalizada</li>
        </ul>
    </section>
</div>

