@model Proyecto.Models.Legal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Legal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLegal" />
            <div class="form-group">
                <label asp-for="IdPersona" class="control-label"></label>
                <select asp-for="IdPersona" class="form-control" asp-items="ViewBag.IdPersona"></select>
                <span asp-validation-for="IdPersona" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Denuncias" /> @Html.DisplayNameFor(model => model.Denuncias)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Antecedentes_Penales" /> @Html.DisplayNameFor(model => model.Antecedentes_Penales)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fraudes" /> @Html.DisplayNameFor(model => model.Fraudes)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
